.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary-color{
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
}
.secondary-bg{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
 
}
.nav-design{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;

}

.text-center{
    text-align: center;
}

.logo-design{
    font-size: 34px;
    position: top ;
    font-weight: 800;
}
.banner-title{
    font-size: 60px;
    text-align: center;
    max-width: 900px; 
    margin: 200px auto 37px auto;
}
.productive-title{
    font-size: 34px;
    font-weight: 600;
    color: #252432;
    

}
.number{
    font-size: 80px;
    font-weight: 600;
    color: #8987A1;
}
.number-subtitle{
    color: #8987A1;
    font-size: 20px;
    
}
.org-data{
    display: flex;
    gap: 160px;
    
}
.productive-user{
    justify-content: center;
}
.users{
    align-items: center;
}